
/* navbar */
.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  margin-top: 5px;
  margin-bottom: 10px;

  height: 100px;
  width: auto;
  border-radius: 50%;
}

html {
  background-color: #f5f5f1;
  color: #555;
  font-family: "Lora", serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
.navcon {
    background-color: #0a0403;
  }
  
  .navitem {
    text-transform: uppercase;
    font-family: "Architects Daughter", cursive;
    font-size: 90%;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: bold;
   color: #ce1212;
  }
  .navitem:hover {
    border-bottom: 2px solid #ffaaa7;
    border-top: 2px solid #ffaaa7;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #9c3d54;
    border: 1px solid #f39189;
    border-radius: 0.25rem;
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffaaa7;
    font-weight: bold;
  }
  
  /* Headings */
  .heder {
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(200, 200, 200, 0.69),
        rgba(200, 200, 200, 0.69)
      ),
      url(https://wallpaperaccess.com/full/1988378.jpg);
    background-size: cover;
    background-position: center;
  }

.history{
    height: 500px;
    overflow-x: hidden;
}


.gallery-container {
    background-color: #fff;
    color: #221f1f;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  }

    
  @media (max-width: 768px) {
    body {
      padding: 0;
    }
  
    .gallery-container {
      border-radius: 0;
    }
  }
  