/* font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif; */

#e50914,#b81d24 #221f1f #f5f5f1

.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    margin-top: 5px;
    margin-bottom: 10px;
  
    height: 100px;
    width: auto;
    border-radius: 50%;
  }
  
  html {
    background-color: #f5f5f1;
    color: #555;
    font-family: "Lora", serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }
  
  /* navbar */
  
  .navcon {
    background-color: #221f1f;
  }
  
  .navitem {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: bold;
    color: #ce1212;
  }
  .navitem:hover {
    border-bottom: 2px solid #f5f5f1;
    border-top: 2px solid #f5f5f1;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #b81d24;
    border: 1px solid #f5f5f1;
    border-radius: 0.25rem;
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: #f5f5f1;
    font-weight: bold;
  }
  
  /* Headings */
  .heder {
    min-height: 200vh;
    background-image: url(https://wallpaperaccess.com/full/1988378.jpg);
    background-size: cover;
    background-position: center;
    
    
  }
  
  /* gallery */
  .gallerySec {
    position: relative;
    min-height: 100vh;
    
  }
  /* .gallery{
    
  }
   */
  .btnbok {
    margin-bottom: 20px;
    transition: 0.5s;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
    color: black!important;
    border-color: #E50914!important;
    background: #E50914!important;
    font-weight: bold;
    
  }
  .btnbok:hover {
    transition: 0.5s;
    font-weight: bold;
    background-color:#EAEAEA!important;
    color: #E50914!important;
  }
  
  
  .gallery-container {
    background-color: #fff;
    color: #221f1f;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    padding-bottom: 10px;
  }
  
  .gallery-container h1 {
    padding-top: 20px;
  
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #b81d24;
    font-weight: bold;
    font-size: 90px;
  }
  .gallery-container h2 {
    padding-bottom: 10px;
    font-size: 27px;
    text-align: center;
    margin-top: 2px;
    color: #e50914;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  
  .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #221f1f;
  }
  
  .tz-gallery {
    padding: 40px;
  }
  
  .tz-gallery .lightbox img {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .tz-gallery img {
    border-radius: 4px;
    height: 100%;
  }
  
  .baguetteBox-button {
    background-color: transparent !important;
  }



  footer {
    min-height: 10vh;
    background-color: #221f1f;
    color:#e50914;
    font-size: 0.75rem;
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .rex{
    padding: 10px 10px;
  }
  
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    color:#b81d24;
    transition: 0.5s;
    margin: 5px;
    
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #ffaaa7;
    text-decoration: none;
    transition: 0.5s;
    margin: 5px;
  }
  
  .footer-twit:link,
  .footer-twit:visited {
    text-decoration: none;
    color: #b81d24;
    transition: 0.5s;
    margin: 5px;
  }
  
  .footer-twit:hover,
  .footer-twit:active {
    color: #ffaaa7;
    text-decoration: none;
    transition: 0.5s;
    margin: 5px;
  }
  
  .footer-fb:link,
  .footer-fb:visited {
    text-decoration: none;
    color: #b81d24;
    transition: 0.5s;
    margin: 5px;
  }
  
  .footer-fb:hover,
  .footer-fb:active {
    color: #ffaaa7;
    text-decoration: none;
    transition: 0.5s;
    margin: 5px;
  }
  
  .footer-note {
    font-family: 'Montserrat', sans-serif;
  }
  @media (max-width: 768px) {
    body {
      padding: 0;
    }
  
    .gallery-container {
      border-radius: 0;
    }
    .logo {
      margin-top: 0;
      margin-bottom: 0;
      height: 70px;
      width: auto;
      
    }
    .gallery-container h1 {
      padding-top: 10px;
      font-size: 50px;
    }

  }
  